body {
	display:flex;
	flex-direction: column;
	background-image: url(../images/fon.jpg);
	font-family: "Courier New";
	font-style: normal;
	font-size:10pt;
	margin: 50px;
	z-index:0;
}

.forma_for_manager {
	display: flex;
	flex-direction: row;
	margin: 0 auto;
	border: 2px solid #8B4513;
	background-color: #FFFFE0;
	z-index: 10;
}

.filters {
	display: flex;
	flex-direction: column;
	border: 0px solid #8B4513;
	margin: 10px 10px 10px 10px;
}


.radio {
	color: #8B4513;
	font-style: normal;
	font-size: 14pt;
}

.orders, .session {
	display: flex;
	flex-direction: column;
	border: 2px solid #8B4513;
	margin: 10px 10px 10px 10px;
}
.order_number {
	display: flex;
	flex-direction: column;
	border: 0px solid #8B4513;
	margin: 5px 5px 5px 5px;
}

h1 {
	color: #8B4513;
	font-size: 16pt;
	font-style: normal;
}

h2 {
	color: #8B4513;
	font-size: 22pt;
	font-style: normal;
	align-self: center;
	margin-left: auto;
}

h3, li {
	color: #8B4513;
	font-size: 14pt;
	font-style: normal;
	padding-left: 5px;
}

h4 {
	color: #8B4513;
	font-style: normal;
	font-size: 14pt;
	padding-top: -20px;
	
}

h5 {
	color: #8B4513;
	font-style: normal;
	font-size: 14pt;
	padding-left: 60px;
}

h6 {
	color: #8B4513;
	font-size: 14pt;
	font-style: normal;
}

h7 {
	color: #8B4513;
	font-style: normal;
	font-size: 15pt;
	font-weight: bold;
	align-self: center;
	padding: 1px 1px 1px 1px;
	margin:1px 1px 1px 10px;

}
h8 {
	color: #8B4513;
	font-style: normal;
	font-size: 14pt;
	padding-left: 40px;
	padding-bottom: -15px;
	padding-top: 0px;
	font-weight: bold;
}

h9 {
	color: #8B4513;
	font-style: normal;
	font-size: 12pt;
	padding-left: 40px;
	padding-bottom: -15px;
	padding-top: 0px;
	font-weight: bold;
}

.find {
	margin: 30px 10px 10px 20px;
	width: 100px;
	height: 50px;
}
.find_order_button{
	display: block;
	padding: 0.5vh 0.5vw 0.5vh 0.5vw;
    margin: -1vh 0vw 0vh 1vw;
    font-family: "Oswald-Regular";
    font-size: 3.5vmin;
    color: rgb(239, 239, 239);
    background-color: #DEB887; 
    text-align: center;
    background-color: #c305008d; 
    width: 13vmin;   
    border-radius: 2vmin;
    border:  rgba(239, 239, 239, 0.5) inset 0.2vmin;
}

.order_list {
	display: flex;
	flex-direction: row;
	border: 2px solid #8B4513;
	margin: 10px 10px 10px 10px;
}

.user {
	border: 0px solid #8B4513;
	margin: 10px 10px 10px 10px;
}

.exit {
	background: #DEB887;
	color: white;
	border-radius:3px;
	display:block;
	width: 130px;
	text-decoration: none;
	font-size: 20px;
	font-family: Arial;
	text-transform: uppercase;
	border: 0px solid #8B4513;
	margin: 10px 10px 10px 10px;
}
.find_order{
	display: none;
	z-index: 20;
	background-color: #FFEBCD;
	top: 1;
	left: 40%;
	border: 2px solid #8B4513;
	position: absolute;
}
.item_number {
	display: flex;
	flex-direction: row;
	border: 0px solid red;
	margin-left: 10%;
}

.date{
	display: flex;
	flex-direction: column;
	border: 0px solid red;
}
.date_create, .date_update{
	display: flex;
	flex-direction: row;
	border: 0px solid red;
	margin-left: 2vh;
}
.status {
	display: flex;
	flex-direction: row;
	border: 0px solid red;
	margin-left: 2vh;
}
.order_list {
	display: flex;
	flex-direction: column;
	border: 0px solid #8B4513;
}
.phone{
	display: flex;
	flex-direction: row;
}
.change_button{
	background: #DEB887;
	color: white;
	border-radius:3px;
	display: block;
	width: 150px;
	text-decoration: none;
	font-size: 20px;
	font-family: Arial;
	border: 0px solid #8B4513;
	margin: 10px 10px 10px 10px;
}
.spisok_tovarov {
	display: flex;
	flex-direction: column;
	border: 0px solid red;
}
.list_products {
	display: flex;
	margin: 0 auto;
	color: #8B4513;
	border: 0px solid red;
}
.table{
	display: flex;
	flex-direction: column;
	
}
.close-button {
	padding: 0;
    margin-left: 380px;
    width: 30px;
	border: 0;
	height: 30px;
}
.form_button {
	text-align: center;
	
	width: auto; 
	margin: 0 auto;
	margin-top: 5px;
}
.show_order {
	background: #DEB887;
	color: #8B4513;
	border-radius:3px;
	display: block;
	width: 180px;
	text-decoration: none;
	text-transform: uppercase;
	margin-left: 190px;
	border: 2px solid #8B4513;
	margin-top: 5px;
	margin-bottom: 5px;
	font-style: normal;
	font-size: 10pt;
}

.black-overlay{
	display: block;
	position: fixed;
	top: 0%;
	left: 0%;
	width: 100vw;
    height: 100vh; 
    background-color: #DEB887;  
	z-index:20;
	-moz-opacity: 0.5;
	opacity:.50;
	filter: alpha(opacity=50);
}
.order, .thanks{
    display: block;
	position: fixed;
	background: #FFEBCD; 
	margin: 10% auto;
	border: 2px solid #8B4513;
	align-items: center;
	align-content:center;
	z-index: 90;
	left: 500px;
	top:0;
	
}
.spisok_tovarov , .info{
	display: flex;
	flex-direction: column;
	margin: 5px;
	border: 0px solid red;
	width: 600px;
	height: 200px;
	overflow-y: auto;
}

.close-btn {
    padding: 0;
    margin-left: 590px;
    width: 20px;
	border: 0;
	height: 20px;
	
}
.list_products {
	display: flex;
	margin: 0 auto;
	color: #8B4513;
	border: 0px solid red;
}
.table_order_list table {
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 14pt;
	background: white;
	max-width: 70%;
	width: 70%;
	border-collapse: collapse;
	text-align: left;
}
.table_order_list th {
	font-weight: normal;
	color:  #8B4513;
	border-bottom: 2px solid  #8B4513;
	padding: 10px 8px;
}
.table_order_list td {
	color:  #8B4513;
	padding: 5px 4px;
	font-weight: bold;
	transition: .3s linear;
}
input, select {
	background: white;
	color:  #8B4513;
	padding: 5px 4px;
	font-weight: bold;
	transition: .3s linear;
	margin-left: 10px;
	
}



.table_order_list tr:hover td {color: #6699ff;}
  

.container_full {
	display:flex;
	flex-direction: row;
	flex-flow: row wrap;
	flex-wrap: wrap;
	padding: 2px;
	width: 1000px;
	margin: 20px auto; 
	justify-content: center;
	align-items: stretch;
	align-content: stretch;
}

.bl{
	flex: 1 1 200px; 
	text-align: center;
	padding: 2px 2px;
	margin: 2px;
	justify-content: center;
}

.f1{ 
	flex-basis: 326px; 
	margin-right: 2px;  
	
}

.container_photo{
	display: flex;
	justify-content: center;
	min-width: 150px;
	min-height: 150px;
	
	
}
.show_product {
	background: #DEB887;
	color: #8B4513;
	border-radius:3px;
	display: block;
	width: 150px;
	text-decoration: none;
	text-transform: uppercase;
	
	border: 2px solid #8B4513;
	margin-top: 5px;
	margin-bottom: 5px;
	font-style: normal;
	font-size: 10pt;
}

.show_order1 {
	background: #DEB887;
	color: #8B4513;
	border-radius:3px;
	display: block;
	width: 170px;
	text-decoration: none;
	text-transform: uppercase;
	margin-left: 5px;
	border: 2px solid #8B4513;
	margin-top: 5px;
	margin-bottom: 5px;
	font-style: normal;
	font-size: 10pt;
}